.container {
    
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 30px;
}
   
h1{
    position: relative;
    left: 235px;
    top: 70px;
}



    

.container img.border{
    display: block;
    position: relative;
    top: 215px;
    left: 39px;
    border: solid blue 3px;
}
    
.description title b{
    font-size: 25px;
    position: relative;
    left: -110px;
}

.description text i{
    position: relative;
    left: 360px;
}

h2{
    font-weight: bold;
    left: 255px;
    position: relative;
    top: 30px;
    font-size: 25px;
}

.hide
{
   color: white; 
}



.logo img{
    float: left;
    position: relative;
    bottom: 230px;
    right: -40px;
    border: solid blue 3px;
}


.navigation{
    float: left;
    margin: 0 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: bold;
}
.navigation ul.menu{
    position: relative;
    font-size: 22px;
    left: 50px;
    bottom: 130px;
    line-height: 175%;
    
}



.navigation li{
    display: inline;
    border-right: 3px solid #0088ff;
    padding-left: 5px;
    padding-right: 10px;
}


.menu li:last-child{
    border: none;
}


.menu a{
    color: #0088ff;
}
.calendar {
    position: relative;
    float: left;
    /* margin-right: 54%; */
    font-family: Arial, Helvetica, sans-serif;
    bottom: -30px;
    right: 600px;
}
    


.values {
    position: absolute;
    left: 295px;
    bottom: 130px;
}
.values h2{
    font-size: 1.5em;
    position: relative;
    left: 0px;
    top:5px;
    
}
.values p{
    font-size: 17px;
}
.contact{
    font-size: 24px;
    text-align: justify;
    position: relative;
    left: -600px;
    top: 24px;
}

.main-container{
    font-size: 19px;
}

.information{
    position: relative;
    left: 140px;

}

.description{
    position: relative;
    left: -375px;
    top: -30px;
}


.description text p{
    font-size: 19px;
}

.container-information{
    position: relative;
    left: 140px;
    font-size: 19px;
    bottom: 70px;
}

.location{
    
        position: relative;
        right: 154px;
        font-size: 22px;
        bottom: 5px;
        margin: none;
}

iframe{
    border: 0;
    width: 500px;
    height: 300px;
}

.additional {
    position: relative;
    left: 280px;
    bottom: 55px;
    font-size: 19px;
}

.additional b{
    font-size: 22px;
}

