.container {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 11%;
    margin-top: 1%;
    margin-right: 11%;
    margin-bottom: 0%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-left: solid;
    border-right: solid;
    border-top: 17px;
}


h1{
    top: 34px;
    left: -230px;
    font-size: 35px;
    position: relative;
}
     
.border {
    display: block;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
    
}
.border img {
    position: relative;
    bottom: -11px;
}
.container h2.text{
border: none;
}

ul{
    list-style: none;
}

.logo img{
    float: left;
    position: relative;
    bottom: -27px;
    right: 29px;
}
    


.navigation{
    margin: 0 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 467px;
    float: right;
}
.navigation ul.menu{
    position: relative;
    font-size: 20px;
    left: -135px;
    line-height: 175%;
}
li {
    display: inline;
    padding: 10px;
    border: solid blue 2px;
    background: #1c9ee1;
}

.menu a{
    color: white;
    background: #1c9ee1;
    text-decoration: none;
}
.calendar {
    position: relative;
    float: left;
    margin-right: 54%;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 60px;
    left: 50px;
}

.values {
    position: absolute;
    left: 380px;
    bottom: 0px;
}

.values h2{
    font-size: 1.1em;
}
.values p{
    font-size: 13px;
}
.contact{
    font-size: 24px;
    text-align: justify;
    position: relative;
    left: 5px;
    top: 24px;
}
